@import "config";

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // patternify background
  background: $black;
  color: $black;
}

h1 {
  font-size: 48px;
  color: $white;
  text-align: center;
  margin: 25px 0;
}

.btn {
  background: $btn-default;
  border: 4px $border-default;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  @include easeOut;

  // decorated class to indicate which task is selected
  &.show {
    background: $btn-active;
    border: 6px $border-active;
  }
}

.btn-go {
  font-size: 40px;
  padding: 10px;
}

.container {
  background: $background-color;
  margin: 0 auto;
  width: 72%;
  padding: 20px;
  border-radius: 10px;
}

.container > div {
  margin: 0 auto 15px auto;
}

.btn-hint {
  width: 60%;
}
